<div class="comments-wrapper">
  <h2>Comments</h2>

  <turbo-frame id="comments_<%= @post.id %>">
    <%= render @post.comments %>
  </turbo-frame>

  <%= render "comments/new", post: @post %>
</div>
