<turbo-stream action="prepend" target="posts">
  <template>
    <%= render partial: "posts/post", formats: [:html], locals: { post: @post, show_share_form: true } %>
  </template>
</turbo-stream>

<turbo-stream action="append" target="flash-messages">
  <template>
    <div class="flash-message" style="color: green;">
      Post was successfully created.
    </div>
  </template>
</turbo-stream>