/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #F7B0BE;
}

main {
    display: flex;
    flex-direction: column;
}


.field_with_errors {
    color: #EF3C23;
    text-align: center;
    margin-bottom: -7px;
    font-size: 14px;
}

.flash-messages {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.flash-alert, .flash-notice {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.flash-alert {
    color: red;
    background-color: #ffe6e6;
    border: 1px solid red;
}

.flash-notice {
    color: green;
    background-color: #e6ffe6;
    border: 1px solid green;
}

#flash-message {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    transition: opacity 1s ease-out;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    width: 80%;
    max-width: 600px;
    text-align: center;
}
