/* #comments {
    background-color: #F7B0BE;
} */

.comments-wrapper {
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin: 10px;
    border-radius: 10px;
}

#comment_content {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box; 
    display: flex;
    align-items: center; /* Centrera texten vertikalt */
    text-align: left; /* Placera texten horisontellt till vänster */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#comment_content::placeholder {
    text-align: left; /* Placera placeholder-texten till vänster */
}

.form-comment {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-weight: bold;
    display: block;
}

.form-submit {
    background-color: #F15A42;
    color: white;
    padding: 10px;
   
    cursor: pointer;
    margin-top: 10px;
    align-self: center;

   
    box-sizing: border-box;
    border: none;
    border-radius: 5px;

    font-family: "Instrument Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 18px;
}